* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #8cafb4;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: url(bgi.jpg);
}
main {
  position: absolute;
  width: 100%;
  height: 100%;
}
header {
  padding: 10px;
  color: #fff;
  background-color: #000;
}
.calculator {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  overflow: hidden;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: rgb(179, 179, 179);
}

input {
  padding: 15px 10px;
  border: none;
  background-color: #000;
  color: #fff;
  width: 100%;
  text-align: right;
  font-size: 2rem;
}
input:focus {
  outline: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  grid-template-areas:
    "o o o o"
    "n n n e"
    "n n n e"
    "n n n e"
    "n n n e";
}

.btn {
  background-color: #fff;
  padding: 10px;
}
.operator {
  background-color: #dfdfdf;
}
.equal {
  grid-area: e;
  background-color: #e95824;
  padding: 100% 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
